    <h1>all tasks</h1>
    <hr>

    <% @tasks.each do |task| %>
    <h3><%= task.id %>: <a href="/tasks/<%= task.id %>">
      <%= task.title %></a></h3>
      <a href="/tasks/<%= task.id %>/edit">edit</a>
      <form action="/tasks/<%= task.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete"> <!--button, value is what's displayed, submit is type -->
      </form> 
    <% end %>

<i class="small material-icons"> replay <a href='/'>home</a></p></i>
