    <h1>all tasks</h1>
    <hr>

    <% @tasks.each do |task| %>
    <h3><%= task.id %>: <a href="/tasks/<%= task.id %>">
      <%= task.title %></a></h3>
      <a id="edit_link" href="/tasks/<%= task.id %>/edit">edit</a>

      <form action="/tasks/<%= task.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input id="delete_task" type="submit" value="delete"> <!--button, value is what's displayed, submit is type -->
      </form> 
    <% end %>

<hr>
<i class="small material-icons"><a href='/'>home</a></p></i>
